html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.navbar-nav > li > a:hover {
    background: transparent;
}

.myimage{
    background: url("../images/bgtopmenu.png") repeat;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background: url("../images/334.png") repeat;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.rowcategory {
   text-decoration-line: underline;
}



/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}
a{
    font-size: 150%;
    color:#000;
    text-decoration: solid;
}
.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.adress {

    padding-left: 200px;
    font-size: 35px;
}

.fone {

     padding-left: 300px;
     font-size: 25px;
     color: #516171;
 }
.worck{

    padding-left: 330px;
    font-size: 15px;
    color: #000000;
}
.queue{

    padding-left: 340px;
    font-size: 15px;
    color: #000000;
}

.alert-success{
    background-color: #f4f3cd;
    color: #000000;
}

.badge
{
    background-color: #9ba7aa;
}

.lera_2
{
    border: 2px solid #f9e5c5;
    background-color: #F0E7F0;
}
.breadcrumb {
    background-color: #f4f3cd;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


#header img {
    width: 1007px;
}

#header {
    height: 368px;
}


#header .blue {
    color: #D01818;
    background: url("../images/header3.png") no-repeat;
    margin-left:55px;
    height:155px;
    margin: 0 auto;
    width:1007px;
    font-style:italic;
    margin-top: -250px;
    text-align: center;
    font-size: 18px;
}

.myimage{
    border: 2px solid #d58512

}

.btn-success
{
    background-color: #9ba7aa;
}

.btn-danger
{
    background-color: #9ba7aa;
}

.kolvo{
    font-size: 20px;
}
